spring:
  application:
    name: ai-code
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ai_code
    username: root
    password: 123456
  profiles:
    active: dev
  data:
    redis:
      host: localhost
      port: 6379
      password:
      ttl: 3600
      database: 0
  # 邮件配置
  mail:
    host: smtp.qq.com
    port: 587
    username: xx.com
    # qq邮箱获取的验证密钥
    password: xx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  session:
    store-type: redis
    timeout: 2592000
  # 全局时间格式配置
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

server:
  port: 8123
  servlet:
    context-path: /api
    # cookie 30 ???
    session:
      cookie:
        max-age: 2592000
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.mashang.aicode.web.controller
# 监控配置
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
